<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:/config.properties</value>
      </list>
    </property>
  </bean>

  <bean id="console" class="${root}.peermanagement.cli.Console" init-method="initialize" lazy-init="true">
    <property name="fingerprintService" ref="fingerprintService" />
    <property name="songMetadataService" ref="songMetadataService" />
  </bean>

  <bean id="songMetadataService" class="${root}.common.media.SongMetadataService">
  </bean>

  <bean id="fingerprintService" class="${root}.common.media.FingerprintService">
    <property name="herz" value="${herz}" />
  </bean>

</beans>