<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:/config.properties</value>
      </list>
    </property>
  </bean>

  <!-- ********************************************************************************************** -->
  <!-- GUI-Master-Beans -->
  <!-- ********************************************************************************************** -->
  <bean id="mainAction" class="${root}.gui.action.MainAction">
    <property name="provider" ref="serviceProvider" />
  </bean>

  <bean id="serviceProvider" class="${root}.service.ServiceProvider">
    <property name="serverUrl" value="${serverUrl}" />
    <property name="herz" value="${herz}" />
    <property name="listeningPort" value="${listeningPort}" />
  </bean>

</beans>