<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:/config.properties</value>
      </list>
    </property>
  </bean>

  <bean id="mainAction" class="${root}.client.gui.action.MainAction" lazy-init="true">
    <property name="serverHandler" ref="serverHandler" />
    <property name="peerHandler" ref="peerHandler" />
    <property name="fingerprintService" ref="fingerprintService" />
  </bean>

  <bean id="serverHandler" class="${root}.client.service.ServerHandler">
    <property name="serverUrl" value="${serverUrl}" />
  </bean>

  <bean id="peerHandler" class="${root}.client.service.PeerHandler">
    <property name="listeningPort" value="${listeningPort}" />
  </bean>

  <bean id="fingerprintService" class="${root}.common.media.FingerprintService">
    <property name="herz" value="${herz}" />
  </bean>

</beans>